
<div class="row">
  <div class="col-md-12 col-xs-12 ">

<h2>Company Employees</h2>
<hr>
<input type="hidden" value="{{company._id}}"  id="company_id">
<div class="table">
<table class="table table-bordered ">
    <thead>
      <tr>
        <th>Fullname</th>
        <th>Position</th>
      </tr>
    </thead>
    
    <tbody>
       {{#each company.employees}}
      <tr>
        <td>{{employeeName}}</td>
        <td>{{employeeRole}}</td>
        <td><a href="/message/{{employeeId}}"  class="btn btn-primary">Send Message</td></a>
      </tr>
    {{/each}}     
    </tbody>
 
  </table>
</table>
  </div>
</div>

 
  