
<div class="text-center">

    <h3>Rate Me</h3> 

<hr>
</div>
	<div class="row">
        <!-- Boxes de Acoes -->
    	<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="far fa-address-card"></i></div>
					<div class="info">
						<h3 class="title">Add Company</h3>
						<p>
							Registered employees can give rateings and reviews.
						</p>
						<div class="more">
							<a href="/company/create" title="Title Link">
								Add <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>
			
        <div class="col-xs-12 col-sm-6 col-md-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-flag"></i></div>
					<div class="info">
						<h3 class="title">Search</h3>
    					<p>
							Search throught our business catalogue and find you best partner
						</p>
						<div class="more">
							<a href="#" title="Title Link">
								Search <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>
			
        <div class="col-xs-12 col-sm-6 col-md-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-desktop"></i></div>
					<div class="info">
						<h3 class="title">Rate</h3>
    					<p>
							Rate and review other companies and get your company reviewed as well;
						</p>
						<div class="more">
							<a href="/company" title="Title Link">
								Rate <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>		    
		<!-- /Boxes de Acoes -->
	</div>

